:global(body, html) {
  font-family: 'Noto Serif TC', serif;  
}
body {
  overflow-x: hidden;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-wrapper {
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .loading-icon{
    height: 50px;
    animation: rotate 2s linear infinite; 
  }
}

.swiper {
  :deep(.swiper-button-prev) {
    &::after {
      color: #252525;
    }
  }
  :deep(.swiper-button-next) {
    &::after {
      color: #252525;
    }
  }
}